@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  
  scrollbar-width: none;     
}

.hide-scrollbar::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
.hide-scrollbar {
  scrollbar-width: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
}


::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

* {
  scrollbar-width: none; 
}