@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

/* Hide scrollbar but keep scroll */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}

/* Hide scrollbar but keep scrolling */

/* Chrome, Edge, Safari */
.hide-scrollbar::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* Firefox */
.hide-scrollbar {
  scrollbar-width: none;
}

/* IE */
.hide-scrollbar {
  -ms-overflow-style: none;
}
